<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Document</title>
  <link rel="stylesheet" href="/css/map.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #0a0c0b; opacity:0.88;">
    <a id="icon" class="navbar-brand pcs active" href="/complaints">SOS</a>

    
    <span id="admin_name" ></span>
    <span id="station_name" ></span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseItems"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapseItems">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" id="complaints" href="complaints"> Complaints</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link"  id="logout">Log Out</a>
        </li>
    
          </div>
        </li>
      </ul>
    </div>
  </nav>


  <div id="map"></div>

  <!-- Connecting to the firebase project. -->
  <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-database.js"></script>

  <!-- *************************************Step 1: Web app's Firebase configuration************************* -->
        
    <!--//paste the coped SDK config here. It contains apikey, authDomain, databaseURL etc.-->

    

<!--*********************************************************************************************-->

  <script>
  const auth=firebase.auth();
</script>

  <script src="scripts/map.js" ></script>


  <!-- ********************************STEP 2 : google maps api key*****************************-->

  <script async defer
    
  src="https://maps.googleapis.com/maps/api/js?key=(*********YOUR API KEY*******)&libraries=visualization&callback=initMap">
    </script>

  <!--*********************************************************************************************  -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  


</body>

</html>