<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.mcoeProject.sos"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Complaints_List"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".LocatingPoliceStation"
            android:screenOrientation="sensorPortrait"
            />
        <activity android:name=".ComplaintCompleted"
            android:screenOrientation="sensorPortrait"
            />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".Request"
            android:screenOrientation="sensorPortrait"
            />
        <activity android:name=".Profile_Activity"
            android:screenOrientation="sensorPortrait"
            />
        <activity android:name=".otp"
            android:screenOrientation="sensorPortrait"
            />
        <activity android:name=".Register"
            android:screenOrientation="sensorPortrait"
            />
        <activity android:name=".Login"
            android:screenOrientation="sensorPortrait"
            />
        <activity
            android:name=".mapActivity"
            android:label="@string/title_activity_map" />
        <activity android:name=".splash"
            android:screenOrientation="sensorPortrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>